<div class="reg__body">
  <form (submit)="signUp()" action="" method="post">
    <div class="reg__header"></div>

    <div class="reg__main">
      <div class="field__name">
        <label for="UserName">Как вас называть?</label>
        <br />
        <input [(ngModel)]="name" name="name" type="name" name="UserName" id="UserNameValue" />
      </div>

      <div class="field__password">
        <label for="UserPassword">Как вы будете заходить?</label>
        <br />
        <input type="password" name="UserPassword" id="UserPasswordValue" />

        <div class="confirm__password">
          <label for="confirmPassword">Повтори что написал</label>
          <br />
          <input
            type="password"
            name="confirmPassword"
            id="confirmPasswordValue"
          />
        </div>
      </div>
    </div>

    <button type="submit">Зарегистрироваться</button>
  </form>
</div>
