<header class="header">
  <div class="header__wrapper container flex">
    <div class="header__start">
      <a class="header__logo"> Blog </a>
      <nav class="header__nav d-3-none">
        <ul class="nav__list flex">
          <a class="list__item" [routerLink]="['/']"> Home </a>
          <a class="list__item" [routerLink]="['/dashboard']"> Dashboard </a>
        </ul>
      </nav>
    </div>

    <div class="header__end">
      <div class="header__buttons flex d-3-none">
        <a href="#" class="header__button" [routerLink]="['/auth']"> Sign in </a>
        <a href="#" class="header__button" [routerLink]="['/reg']"> Sign up </a>
      </div>
      <div class="header__burger d-3">
        <div class="burger__line"></div>
        <div class="burger__line"></div>
        <div class="burger__line"></div>
      </div>
    </div>
  </div>
</header>
